{% extends "base.html" %}

{% block content %}

    {% for key, value in datas.items %}
        <h3>순위 : {{ value.rank }}</h3>
{#        <h3>영화제목 : {{ value.name }}</h3>#}
{#        <h3>영화코드 : {{ value.code }}</h3>#}
{#        #TODO html select-option을 이용하기#}
        <form action="{% url 'findTheater' %}" method="post">
            <label for="movieName">{{ value.name }}</label>
            <br/>
            영화선택
            <input id="movieCode" name="movieCode" value={{ value.code }}>
            <br/>
            영화장소
            <input id="moviePlace" name="moviePlace" value=''>
            <input type="submit" value="OK">
        </form>
        <br>
    {% endfor %}


</form>

    <br/>
{% endblock content %}


